doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title reveal.js
    link(rel='stylesheet', href='static/reveal.js-3.4.1/css/reveal.css')
    link(rel='stylesheet', href='static/reveal.js-3.4.1/css/theme/black.css')
    // Theme used for syntax highlighting of code
    link(rel='stylesheet', href='static/reveal.js-3.4.1/lib/css/zenburn.css')
    // Printing and PDF exports
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
  body
    .reveal
      .slides

        section 
          h1 Using Arch Linux as your primary operating system
    
        section
          section
            h1 Principles
            ul
              li simple
              li modern
              li pragmatic
              li user centric
              li versatile
          section
            h2 simple
            ul
              li upstream packages stay vanilla
              li downstream changes are minimal; limited to things like configuration for distro specific system file paths
              li configuration is in the hands of the user
          section
            h2 modern
            ul
              li rolling release
              li install once, continuously upgrade
              li latest everything
          section
            h2 pragmatic
            ul
              li functionality over ideology
              li both oss AND proprietary software packages are available
          section
            h2 user centric
            ul
              li user-centric over user-friendly
              li fulfill the needs of contributors
              li community-driven
          section
            h2 versatile
            ul
              li a general-purpose distribution
              li user builds system as needed
              li powerful packaging system
        
        section
          h2 wiki
        
        section 
          h2 pacman
          ul
            li the heart of the Arch linux system
            li stable, reliable
            li easy to make packages and repositories
        
        section
          h2 pkgbuild

        section
          h2 installation
          p it's easy! just
          section download and fire up the live iso...
          section connect to the internet...
          section partition the disks...
          section format the partitions...
          section mount the filesystems...
          section install the base packages...
          section generate fstab...
          section chroot into new system...
          section set timezone, locale, hostname...
          section configure the network...
          section set the root password...
          section configure the bootloader...
          section reboot and log into you new system!

        section
          h2 education
          p learning how a linux system is built
          p being self-reliant
        
        section
          h2 community
          p easy to contribute
          p problems are solved fast
          p best wiki

        section
          h2 personal reasons
          ul
            li education
            li discovery
            li community
            li software

    script(src='static/reveal.js-3.4.1/lib/js/head.min.js')
    script(src='static/reveal.js-3.4.1/js/reveal.js')
    script.
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
      history: true,
      // More info https://github.com/hakimel/reveal.js#dependencies
      dependencies: [
      { src: 'static/reveal.js-3.4.1/plugin/markdown/marked.js' },
      { src: 'static/reveal.js-3.4.1/plugin/markdown/markdown.js' },
      { src: 'static/reveal.js-3.4.1/plugin/notes/notes.js', async: true },
      { src: 'static/reveal.js-3.4.1/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
      ]
      });
